<connectionStrings>
	<add name="HangmanDBEntities"
		 connectionString="metadata=res://*/Model.HangmanModel.csdl|res://*/Model.HangmanModel.ssdl|res://*/Model.HangmanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TU_SERVIDOR;initial catalog=HangmanDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />
</connectionStrings>