<appSettings>
	<add key="Smtp.Host" value="smtp.example.com" />
	<add key="Smtp.Port" value="587" />
	<add key="Smtp.User" value="" />
	<add key="Smtp.Password" value="" />
	<add key="Smtp.FromAddress" value="" />
	<add key="Smtp.DisplayName" value="Hangman Game" />
	<add key="Smtp.TimeoutMs" value="10000" />

	<add key="Wcf.BaseAddress" value="" />
	<add key="Wcf.AuthServicePath" value="" />
	<add key="Wcf.ProfileServicePath" value="" />

	<add key="Wcf.MaxReceivedMessageSize" value="" />
	<add key="Wcf.OpenTimeoutSeconds" value="" />
	<add key="Wcf.CloseTimeoutSeconds" value="" />
	<add key="Wcf.SendTimeoutSeconds" value="" />
	<add key="Wcf.ReceiveTimeoutMinutes" value="" />

	<add key="Wcf.MetadataEnabled" value="" />
	<add key="Wcf.IncludeExceptionDetailInFaults" value="" />
</appSettings>