<appSettings>
	<add key="Smtp.Host" value="smtp.example.com" />
	<add key="Smtp.Port" value="587" />
	<add key="Smtp.EnableSsl" value="true" />
	<add key="Smtp.User" value="" />
	<add key="Smtp.Password" value="" />
	<add key="Smtp.FromAddress" value="" />
	<add key="Smtp.DisplayName" value="Hangman Game" />
	<add key="Smtp.TimeoutMs" value="10000" />
</appSettings>